.deviceDetailHeaderContainer {
  width: 100% !important;
  height: fit-content;

  padding-bottom: 10px;
}

.deviceDetailHeaderSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deviceDetailImage {
  object-fit: contain;
  height: 500px;
  max-width: 500px;
  margin-bottom: 10px;
}

.deviceDetailTitle {
  font-family: MSemiBold;
  text-align: center;
  margin: 50px 0 0;
}

.deviceDetailText {
  font-family: MRegular;
  margin: 0;
  font-size: 18px;
}

.specsTableContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 50px;

  width: 100%;
}

.specsTableRow {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.specsTableRowTitleContainer {
  margin: 10px 0 10px 10px;
  flex: 2;
  display: flex;
  justify-content: center;
}

.specsTableRowTitle {
  width: 100%;
  text-align: center;
  max-width: 100%;
}

.specsTableRowContent {
  margin: 10px 10px 10px 0;
  width: 100%;
  flex: 5;
  display: flex;
  flex-direction: row;
  font-family: MRegular;
  font-size: 14px;
}

.ratingBar {
  border-radius: 40px;
  height: 20px;
  width: 80%;
  background-color: #d8d6a8;
  animation-name: moveFromLeft;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: MRegular;
  font-size: 13px;
  animation-duration: 0.5s;
}

.deviceDetailBodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.problemsContainer {
  width: 80vw;
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.problemItemContainer {
  width: 80vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: relative;
  padding-bottom: 40px;
}

.problemItemStatsContainer {
  display: flex;
  flex-direction: column;
}

.postAvatar {
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 100px;
  align-self: center;
}

.problemItemPostContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.problemItemTitle {
  font-family: MSemiBold;
  color: #e35427;
  margin: 0;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.problemItemTitle:hover {
  text-decoration: underline;
}

.postDate {
  font-family: MLight;
}

.problemItemContent {
  font-family: MMedium;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.postItemButtonsContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
}

.postItemButton {
  width: 24px;
  height: 24px;
  margin: 0 20px 0 0;
}

.postItemButton:active {
  padding: 4px;
}

.addProblemInputTitle {
  width: 80%;
}

.reviewsContainer {
  width: 80vw;
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.reviewContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.reviewHeaderContainer {
  display: flex;
  flex-direction: row;
}

.reviewHeaderTextContainer {
  display: flex;
  flex-direction: column;
  line-height: 5px;
  justify-content: center;
}

.reviewAuthorName {
  font-family: MSemiBold;
  font-size: 1.2rem;
}

.reviewContentContainer {
  margin: 20px 0 40px;
  border-right: 1px solid #e9e9e9;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.reviewTitle {
  font-family: MSemiBold;
}

.reviewContent {
  font-family: MRegular;
}

@keyframes moveFromLeft {
  0% {
    width: 0;
  }
  20% {
    transform: 20%;
  }
  40% {
    transform: 40%;
  }
  60% {
    transform: 60%;
  }
  80% {
    transform: 80%;
  }
  100% {
    transform: 100%;
  }
}
