.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingHeaderContainer {
  width: 100vw;
  height: fit-content;
  padding: 100px 0;
  background-color: #a8d8ad;
}

.landingHeaderDarkModeContainer {
  width: 100vw;
  height: fit-content;
  padding: 100px 0;
  background-color: #336b39;
}

.landingHeaderSectionContainer {
  width: 100%;
  display: flex;
  padding: 0 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landingHeaderSlogan {
  font-size: 1.75rem;
  font-family: MBold;
  text-align: center;
  margin-bottom: 50px;
}

.landingHeaderButton {
  width: 270px;
  height: 60px;
  background: #8eb577;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  margin-bottom: 50px;
  color: white;
  cursor: pointer;
}

.landingHeaderButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.landingHeaderButton:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.landingHeaderIcon {
  width: 350px;
  height: 350px;
}

.landingBodyContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.landingBodyText {
  font-family: MBold;
  text-align: center;
  font-size: 1.75rem;
}

.landingBodyIconsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.landingBodyIcon {
  width: 100px;
  height: 100px;
  margin: 30px 40px;
}

.landingFooterContainer {
  width: 100vw;
  height: fit-content;
  padding: 100px 0;
  background-color: #a8d8ad;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.landingFooterDarkModeContainer {
  width: 100vw;
  height: fit-content;
  padding: 100px 0;
  background-color: #336b39;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.landingFooterTitle {
  font-family: MBold;
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.landingFooterText {
  font-family: MMedium;
  width: 400px;
  text-align: center;
  font-size: 1.4rem;
}
