.container {
  position: relative;
  z-index: 1;
}

.navbarLinkContainer {
  align-items: center;
}

.navbarLink {
  color: #949090;
  font-family: MLight;
  margin: 0 35px 0 35px;
}

.navbarBrandContainer {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarBrand {
  font-family: MRegular;
  font-size: 24px;
  color: black;
}

.navbarLogo {
  width: 50px;
}

.navbarBrandDarkMode {
  font-family: MRegular;
  font-size: 24px;
  color: white;
}

.navbarBrand:hover {
  text-decoration: none;
  color: black;
}

.navbarBrandDarkMode:hover {
  text-decoration: none;
  color: white;
}

.navbarAvatar {
  margin: 0 35px 0 35px;
}

.dropdownMenu {
  background-color: white;
  width: 200px;
  height: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
  line-height: 0;
  font-family: MRegular;
  border-radius: 5px;
  right: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.dropdownMenuDarkMode {
  width: 200px;
  height: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
  line-height: 0;
  font-family: MRegular;
  border-radius: 5px;
  right: 0;
  background-color: #313131;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.dropdownItem {
  margin-top: 10px;
  padding: 20px 10px;
  margin: 0 0;
  cursor: pointer;
  border-radius: 10px;
}

.dropdownItemDarkMode {
  margin-top: 10px;
  padding: 20px 10px;
  margin: 0 0;
  cursor: pointer;
  border-radius: 10px;
}

.dropdownItem:hover {
  background-color: #fafafa;
}

.dropdownItemDarkMode:hover {
  background-color: #676666;
}

.avatarContainer {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.notificationIcon {
  width: 18px;
  height: 18px;
  font-size: 12px;
  background-color: indianred;
  color: white;
  border-radius: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
