.problemDetailPageContainer {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  padding-bottom: 100px;
}

.problemContainer {
  margin: 20px;
  margin-left: 10px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
}

.problemEditorContainer {
  padding: 20px 30px;
}

.problemButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0px;
}

.problemButton {
  width: 24px;
  margin: 0 20px 10px 0;
}

.problemButton:active {
  padding: 4px;
}

.solutionsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solutionsTitle {
  margin: 40px 0 30px;
  font-family: MSemiBold;
  font-size: 1.75rem;
}

.pickedSolutionTitle {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: MSemiBold;
  font-size: 1.75rem;
  color: #228e2d;
}

.solutionItemBox {
  width: 100%;
  margin-top: 50px;
  padding: 0 30px;
}

.solutionItemContainer {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.solutionInfoSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.solutionInfoContainer {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.solutionPostSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 7;
}

.solutionButton {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.solutionButton:hover {
  text-decoration: underline;
}

.solutionButton:active {
  text-decoration: underline;
  transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8); /* IE 9 */
  -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
  -o-transform: scale(0.8, 0.8); /* Opera */
  -moz-transform: scale(0.8, 0.8); /* Firefox */
}

.solutionButtonIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.solutionHeaderContainer {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.solutionHeaderTextContainer {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  line-height: 5px;
  justify-content: center;
}

.solutionAuthorName {
  font-family: MSemiBold;
  font-size: 1.2rem;
}

.solutionAuthorAvatar {
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 100px;
}

.solutionCheckIcon {
  width: 40px;
  height: 40px;
  align-self: center;
  margin: 0 0 10px 20px;
}

.solutionDateText {
  font-family: MLight;
}

.solutionContentContainer {
  margin: 20px 0 40px;
}
