.searchInputContainer {
  width: fit-content;

  position: relative;
}

.searchInput {
  width: 400px;
  padding-right: 40px;
  text-transform: lowercase;
}

.searchInputIcon {
  position: absolute;
  right: 5px;
  top: 50%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
}

.searchInputAutoComplete {
  position: absolute;
  left: 21px;
  top: 50%;
  color: #a4a2a247;
  z-index: 0;
  transform: translateY(-50%);
}
